h1{
    text-align: center;
    color: aliceblue;
}
.ribbon{
    background-image: url(https://wallpaper.dog/large/10765105.jpg);
}
nav{
    color: aliceblue;
}
body{
    background-color: darkblue;
    color: white;
}
