body {
    background-image: url(https://wallpaper.dog/large/10765105.jpg);


}

header {
    height: 150px;
    margin: 0;
    background-color: rgb(90, 90, 226);
    width: 100%;
}

h1,
h2 {
    text-align: center;
    color: white;
}

.arrowlink {
    background-image: url(\2192);
    position: fixed;
    bottom: 15px;
    right: 15px;
    size: 200%;
    color: white;
}
.backlink {
        background-image: url(\2190);
        position: fixed;
        bottom: 15px;
        left: 15px;
        size: 200%;
        color: white;
      }
